.index-search-another{
		
		text-align:center;
		background-color:#fff;
		margin:0 auto;
		padding:20px 0;
		margin-bottom:50px
	}
  .fs20{font-size:20px!important}
  .cfix{zoom:1;float: left;margin-top: 10px;}
  .cfix:after{content:'clear';display:block;visibility:hidden;clear:both;line-height:0;height:0}
	center{
    margin: -20px 100px;
    display: none;
  }
	select {
    border: solid 1px #000;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    outline: none;
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    padding-right: 14px;

}

  select::-ms-expand { display: none; }

	ul { list-style-type: none;}	
  li { display: inline-block;}
  li { margin: 10px 0;}
  input.labelauty + label { font: 12px "Microsoft Yahei";}
	.index-banner-nav{padding:10px 20px;display:inline-block;font-size:20px;color:#333!important}
  .index-banner-nav-selected{color:#099!important}
  button{
    background:none;
    border: none;
    outline: none;
  }
  .button-wrap {
  border: 1px solid #e3e3e3;
  display: inline-block;
  padding: 9px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#FFF));
  background: linear-gradient(#f2f2f2, #FFF);
  border-radius: 200px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.04);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.04);
 }

.button-pill {
  border-radius: 200px; }
.button {
  color: #fff;
  background-color: #099;
  border-color: #099;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  }
  .button:visited {
    color: #fff; }
  .button:hover, .button:focus {
    background-color: #058340;
    text-decoration: none;
    outline: none; }
  .button:active, .button.active, .button.is-active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #058340;
    border-color: #cfcfcf;
    color: #d4d4d4;
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }
  .button.disabled, .button.is-disabled, .button:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    text-shadow: 0 1px 1px white !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    opacity: .8 !important; }



  .show {
  display: block;
  }